<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cat.xlagunas.andrtc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="cat.xlagunas.andrtc.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="cat.xlagunas.andrtc.view.activity.LoginActivity" />

        <activity
            android:name="cat.xlagunas.andrtc.view.activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="cat.xlagunas.andrtc.view.activity.ConferenceActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="cat.xlagunas.andrtc.view.activity.CallRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="cat.xlagunas.andrtc.view.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.activity.AddContactsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="cat.xlagunas.andrtc.view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.FriendshipUpdateReceiver"
            android:exported="false">
            <intent-filter android:priority="300">
                <action android:name="CONTACTS_UPDATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false"/>

    </application>

</manifest>
